<!-- About Section -->
<section id="about">
	<div class="row">
		<div class="about">
	    <div class="container">
				<div class="row">
						{{ range where .Site.RegularPages "Section" "about" | first 1 }}
						<div class="col-lg-8 col-lg-offset-2">
							<h2>{{ .Title }}</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3">
							{{ with .Params.img }}
									<img class="img-responsive" src="img/about/{{ . }}" alt="">
							{{ end }}
						</div>
						<div class="col-xs-9">
							<span style="font-size:2em;font-weight:normal;">Peter Kamerman (PhD)</span>
							<span style="text-align:justify;font-weight:normal;font-size:1.3em;">{{ .Content }}</span>
						</div>
						</div>
					</div>
						{{ end }}
					</div>
				</div>
</section>
