<!-- Contact Section -->
{{ if isset .Site.Params "social" }}
<section id="contact" class="container content-section">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 text-center">
		    <h1>Contact Me</h1>
		    <br/>
		    <p class="content">Prof Peter Kamerman (PhD)</p>
			<br/>
			<p style="font-size:130%;font-style:normal"><span class="glyphicon glyphicon-phone"></span> +27 (0)83-415-7448</p>
			<ul class="list-inline contact-social-buttons">
				{{ partial "social.html" . }}
			</ul>
            <br/>
		</div>
	</div>
{{ end }}
</section>
