<!-- Contact Section -->
{{ if isset .Site.Params "social" }}
<section id="contact" class="container content-section">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 text-center">
		    <h1>Contact Me</h1>
		    <br/>
		    <p class="content">Peter Kamerman (PhD)</p>
			<br/>
			<ul class="list-inline contact-social-buttons">
				{{ partial "social.html" . }}
			</ul>
			<img src="https://www.appointletcdn.com/loader/buttons/008DBD.png" data-appointlet-organization="blueprint-analytics"><script src="https://www.appointletcdn.com/loader/loader.min.js" async="" defer=""></script>
            <br/>
		</div>
	</div>
{{ end }}
</section>
