<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Title }}</title>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CX4KFQ5PKB"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-CX4KFQ5PKB');
    </script>

    <!-- SEO -->
    <title>Blueprint Analytics</title>
    <meta name="description" content="Statistical analyses designed for you">
    <link rel="author" href="https://www.painblogr.org" />
    <meta name="robots" content="robots.txt">
    <link rel="canonical" href="https://www.blueprint-analytics.net">

    <!-- Twittercard -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@painblogR">
    <meta name="twitter:creator" content="@painblogR">
    <meta name="twitter:title" content="Blueprint Analytics">
    <meta name="twitter:description" content="Statistical analyses designed for you">
    <meta name="twitter:image" content="https://www.blueprint-analytics.net/img/blueprint-analytics.png">
    <meta name="twitter:url" content="https://www.blueprint-analytics.net">

    <!-- Opengraph -->
    <meta property="og:title" content="Blueprint Analytics">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://www.blueprint-analytics.net">
    <meta property="og:image" content="https://www.blueprint-analytics.net/img/blueprint-analytics.png">
    <meta property="og:description" content="Statistical analyses designed for you">
    <meta property="og:site_name" content="Blueprint Analytics">
    <meta property="fb:app_id" content="621412384962188">

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS  -->
    <link href="/css/landing-page.css" rel="stylesheet">

    <!-- Pricing CSS -->
    <link rel="stylesheet" href="/css/pricing.css">

    <!-- Local CSS -->
    {{ range .Site.Params.custom_css }}
        <link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ . }}">
    {{ end }}

    <!-- Custom Fonts -->
    <link href="/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
