<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS  -->
    <link href="/css/landing-page.css" rel="stylesheet">

    <!-- Pricing CSS -->
    <link rel="stylesheet" href="/css/pricing.css">

    <!-- Local CSS -->
    {{ range .Site.Params.custom_css }}
        <link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ . }}">
    {{ end }}

    <!-- Custom Fonts -->
    <link href="/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Add favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <!-- Google analytics -->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-71613331-1', 'auto');
        ga('send', 'pageview');
    </script>

    <!-- SEO -->
    <title>Blueprint Analytics</title>
    <meta name="description" content="Analyses designed for you">
    <link rel="author" href="https://plus.google.com/u/0/103355314187199079295" />
    <meta name="robots" content="robots.txt">
    <link rel="canonical" href="https://www.blueprint-analytics.co.za">

    <!-- Twittercard -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@painblogR">
    <meta name="twitter:creator" content="@painblogR">
    <meta name="twitter:title" content="Blueprint Analytics">
    <meta name="twitter:description" content="Analyses designed for you">
    <meta name="twitter:image" content="/logo-square.jpg">
    <meta name="twitter:url" content="https://www.blueprint-analytics.co.za">

    <!-- Opengraph -->
    <meta property="og:title" content="Blueprint Analytics">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://www.blueprint-analytics.co.za">
    <meta property="og:image" content="/logo-square.jpg">
    <meta property="og:description" content="Analyses designed for you">
    <meta property="og:site_name" content="Blueprint Analytics">
    <meta property="fb:admins" content="668546729">
    <meta property="fb:app_id" content="1666329553623083">
</head>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
