<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145349923-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-145349923-1');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Title }}</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom CSS  -->
    <link href="/css/landing-page.css" rel="stylesheet">

     <!-- Local CSS -->
    {{ range .Site.Params.custom_css }}
        <link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ . }}">
    {{ end }}

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Add favicon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>

    <!-- SEO -->
    <title>Blueprint Analytics</title>
    <meta name="description" content="Analyses designed for you">
    <link rel="author" href="https://plus.google.com/u/0/103355314187199079295" />
    <meta name="robots" content="robots.txt">
    <link rel="canonical" href="https://www.blueprint-analytics.co.za">

    <!-- Twittercard -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@painblogR">
    <meta name="twitter:creator" content="@painblogR">
    <meta name="twitter:title" content="Blueprint Analytics">
    <meta name="twitter:description" content="Analyses designed for you">
    <meta name="twitter:image" content="https://www.blueprint-analytics.co.za/logo-twitter.jpg">
    <meta name="twitter:url" content="https://www.blueprint-analytics.co.za">

    <!-- Opengraph -->
    <meta property="og:title" content="Blueprint Analytics">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://www.blueprint-analytics.co.za">
    <meta property="og:image" content="https://www.blueprint-analytics.co.za/logo-facebook.jpg">
    <meta property="og:description" content="Analyses designed for you">
    <meta property="og:site_name" content="Blueprint Analytics">
    <meta property="fb:admins" content="668546729">
    <meta property="fb:app_id" content="1666329553623083">
</head>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
